.row > div {
    display: flex;
    align-items: stretch
}

.card {
    text-align: left;
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
}

.card-img {
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: end;
    border-radius: 0px;
    position: relative;
    background-size: cover;
    background-position: center center;
    padding: 5px;
}

.card-img .tag {
    display: inline-block;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 40px;
    padding: 0 11px;
    font-weight: 600;
    margin: 3px;
    font-size: 1rem;
}

.card-img .tag_deals {
    background-color: #bbddff;
}

.card-img .tag_premium {
    background: linear-gradient(120deg, #e9b743, #ffffff, #fff4a9, #cfb579)
}