#root {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
}

.text-iron {
  color: #0a035a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  font-size: 18px
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700
}

h3 {
  font-size: 1.4rem;
}

button {
	border: 0;
	font-weight: 600;
	font-size: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 15px 18px;
	border-radius: 10px;
  background-color: #e5e5e5;
}